// HEADER SECTION //

.header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  width: 100vw;
  height: 5vh;
  background-color: green;
  div {
    margin: 0 8px;
  }
}

.header-buttons {
  display: flex;
}

.cursor {
  cursor: pointer;
}

// BODY SECTION //

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  overflow-y: auto;
}

.saving-target {
  display: flex;
  h1 {
    margin: 8px;
  }
}

.image-slider {
  position: relative;
  display: inline-block;
  line-height: 0;
}

.image-slider img {
  user-select: none;
  max-width: 70vw;
}

.image-slider > .fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  max-width: 100%;
  overflow: hidden;
  resize: none;
}

.image-slider > div:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  resize: none;
}

.add-money-container {
  display: flex;
  flex-direction: column;
  margin: 16px;
  align-items: center;
}

.funds-to-add-input {
  width: 40vw;
}

.add-money-button {
  //display: flex;
  //justify-content: center;
  //align-items: center;
}

.add-money-input {
  display: flex;
}

.add-money-helper {
  display: flex;
  justify-content: center;
  font-size: x-small;
  margin: 8px;
  width: 50%;
}

// MODAL SECTION //

.modal {
  height: 33.3vh;
  width: 66.6vw;
  padding: 0 !important;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  width: 100%;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.savings-goal-input {
  display: flex;
  justify-content: space-between;
  margin: 16px;
  width: 100%;
  input {
    width: 100%;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.center-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.show {
  display: block;
}

.hide {
  display: none;
}
